<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.listam.scrape-front.pull-and-restart</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/rafaelshakhnazarian/porcenq-nor-ban/listam-scrape-front/scripts/pull-and-restart.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/rafaelshakhnazarian/porcenq-nor-ban/listam-scrape-front</string>
  <key>StartInterval</key>
  <integer>600</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>HOME</key>
    <string>/Users/rafaelshakhnazarian</string>
    <key>GIT_TERMINAL_PROMPT</key>
    <string>0</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/rafaelshakhnazarian/porcenq-nor-ban/listam-scrape-front/.run/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/rafaelshakhnazarian/porcenq-nor-ban/listam-scrape-front/.run/launchd.err.log</string>
</dict>
</plist>
